@import "tailwindcss";

:root {
  --background: #ffffff;
  --text-color: #151515;
}

@theme inline {
  --color-background: var(--background);
  --color-text-color: var(--text-color);
  --color-primary: #571244;
  --color-secondary: #ef4353;
  --color-surface: #ffffff;
  --color-muted: #fbeef6;
}

body {
  background: var(--background);
  color: var(--text-color);
  font-family: var(--font-nunito-sans), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-nunito), sans-serif;
}